<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities" xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10" IgnorableNamespaces="uap mp rescap desktop">
  <Identity Name="39676AlexanderSeeliger.BackupServiceHome" Publisher="CN=A06EFC7C-10D7-426E-9D52-242895841F24" Version="3.8.3.0" />
  <Properties>
    <DisplayName>Backup Service Home</DisplayName>
    <PublisherDisplayName>Alexander Seeliger</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.10586.0" MaxVersionTested="10.0.15063.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Windows.FullTrustApplication">
      <uap:VisualElements DisplayName="Backup Service Home" Description="Backup Service Home ist ein kostenloses Programm, mit dem du deine wichtigen Dateien auf deinem Computer sichern kannst. Egal ob es sich dabei um Dokumente, Musik oder Videos handelt. Doch mit dem Sichern ist es nicht allein getan. So kannst du deine Datensicherungen in einem Browser anschauen und wiederherstellen, sowie die Datensicherungen auf Vollständigkeit prüfen." BackgroundColor="transparent" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square310x310Logo="Assets\LargeTile.png" Square71x71Logo="Assets\SmallTile.png">
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>
        <desktop:Extension Category="windows.startupTask" Executable="BSH.Main\BSH.Main.exe" EntryPoint="Windows.FullTrustApplication">
          <desktop:StartupTask TaskId="BackupServiceHomeStartupTask" Enabled="true" DisplayName="Backup Service Home 3" />
        </desktop:Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>