<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Humanizer.Core" version="2.14.1" targetFramework="net48" />
  <package id="Humanizer.Core.de" version="2.14.1" targetFramework="net48" />
  <package id="WMPLib" version="1.0.0" targetFramework="net472" developmentDependency="true" />
</packages>