<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="serilog:using:File" value="Serilog.Sinks.File" />
		<add key="serilog:write-to:File.path" value="%APPDATA%\\Alexosoft\\Backup Service Home 3\\log.txt" />
		<add key="serilog:write-to:File.rollingInterval" value="Day"/>
		<add key="serilog:write-to:File.retainedFileCountLimit" value="14"/>
		<add key="serilog:minimum-level:override:FtpClient" value="Warning" />
	</appSettings>
</configuration>